@tailwind base;
@tailwind components;
@tailwind utilities;


button {
    background-color: pink;
    margin: 10px;
}

.white {
    background-color: white;
}

.temp-con {
    background-color: lightgoldenrodyellow;
}

* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.hero-bg {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.1)), url("/hero.png");
}

/* HEADER */

.header {
    width: 100%;
    z-index: 99999;
    position: absolute;
}

.inner-header {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    width: 100%;
    margin: auto;
    padding: 15px;
}

.inner-header img {
    max-height: 50px;
}

.sign-in-nav-link-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sign-in-nav-link {
    color: white;
    background-color: red;
    padding: 4px 6px;
    border-radius: 4px;
}

/* AUTH PAGE */

.auth-hero {
    color: white;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0 20px;
    text-align: center;
}

.title-auth {
    font-size: 56px;
    font-weight: bolder;
}

.auth-form {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 600px;
    width: 100%;
}

.auth-input {
    padding: 6px;
    background-color: rgba(0,0,0,0.7);
    border-radius: 3px;
    border: 1px solid grey;
    width: 300px;
}

.get-started {
    display: flex;
    padding: 7px 12px;
    border-radius: 4px;
    background-color: red;
}

/* sign up section */

.sign-up-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0,0,0,0.7);
    max-width: 400px;
    width: 400px;
    padding: 30px 25px;
    gap: 10px;
    color: white;
    margin: 15px;
}

.sign-up-container .title{
    font-size: 22px;
    font-weight: bolder;
}

.sign-up-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
}

.my-input{
    width: 100%;
    border: 1px solid grey;
    border-radius: 6px;
    padding: 4px 4px;
    background-color: black;
}

.sign-up-form .my-button {
    width: 100%;
    text-align: center;
    text-align: center;
    background-color: red;
    color: white;
    border: none;
    border-radius: 6px;
    padding: 8px;
    margin: 5px 0;
}

.sign-in-option {
    margin: 6px;
    text-align: center;
}

.sign-in-link {
    color: red;
}



/* SECTION */

.section {
  display:flex;
  justify-content: center;
  background-color: black;
}

.section-title {
  font-size: 32px;
  font-weight: bolder;
}

.one {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  height: 400px;
  width: 500px;
  color: white;
}

.two {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 400px;
  width: 500px;
}

.tv-image {
  height: 400px;
  width: 500px;
  position: absolute;
}

.hero-vid {
  height: 240px;
  width: 500px;
}


/* UTILS */

.seperator {
    width: 100%;
    height: 6px;
    background-color: rgb(35, 35, 35);
    padding: 0;
    margin: 0;
}

@media only screen and (max-width: 600px) {

  /* AUTH SCREEN */

  .title-auth {
    font-size: 32px;
    font-weight: bolder;
  }

  .auth-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 300px;
    width: 100%;
  }

  .get-started, .auth-input {
    width: 100%;
  }
  
  .get-started {
    display: flex;
    justify-content: center;
  }

  /* SECTION */
  .section {
    display:flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
  }

  .one {
    height: 200px;
  }

}


@media only screen and (max-width: 900px) {
  /* SECTION */
  .section {
    display:flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
}