@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  box-sizing: border-box;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.auth-main {
  height: 90vh;
  max-width: 800px;
  margin: auto;
}

.hero-bg {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.1)),
    url("/hero.png");
}

/* HEADER */

.header {
  width: 100%;
  z-index: 99999;
  position: absolute;
}

.inner-header {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  width: 100%;
  margin: auto;
  padding: 15px;
}

.inner-header img {
  max-height: 50px;
}

.sign-in-nav-link {
  color: white;
  background-color: red;
  padding: 4px 6px;
  border-radius: 4px;
}

.profile-image {
  height: 30px;
  border-radius: 4px;
}

.header-desktop-menu {
  margin-left: 30px;
  display: flex;
  gap: 15px;
}

/* FOOTER */
.footer {
  padding: 20px;
  background-color: black;
  color: white;
  font-size: 18px;
  z-index: 99999;
}

.link-underline {
  text-decoration: underline;
}

/* AUTH PAGE */

.auth-hero {
  color: white;
  padding: 0 20px;
  text-align: center;
}

.title-auth {
  font-size: 66px;
  font-weight: bolder;
}

.auth-form {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  max-width: 800px;
  width: 100%;
  margin: 15px 0;
}

.auth-input {
  padding: 15px;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 3px;
  border: 1px solid grey;
  width: 400px;
}

.get-started {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 13px 18px;
  border-radius: 4px;
  background-color: red;
  font-size: 20px;
  font-weight: bold;
}

/* sign up section */

.sign-up-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  max-width: 400px;
  width: 90%;
  padding: 30px 25px;
  gap: 10px;
  color: white;
  margin: 15px;
}

.sign-up-container .title {
  font-size: 22px;
  font-weight: bolder;
}

.sign-up-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
}

.my-input {
  width: 100%;
  border: 1px solid grey;
  border-radius: 6px;
  padding: 4px 4px;
  background-color: black;
}

.sign-up-form .my-button {
  width: 100%;
  background-color: red;
  color: white;
}

.sign-in-option {
  margin: 6px;
  text-align: center;
}

.sign-in-link {
  color: red;
}

/* SECTION */

.section {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  min-height: 490px;
  padding: 15px;
  background-color: black;
  color: white;
}

.section-title {
  font-size: 32px;
  font-weight: bolder;
}

.section-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  width: 500px;
}

.section-image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 500px;
}

.tv-image {
  width: 500px;
  position: absolute;
  top: 70px;
}

.hero-vid {
  height: 210px;
}

.device-pile-image {
  width: 500px;
  position: absolute;
  top: 80px;
}

.device-pile-vid {
  height: 180px;
  margin-bottom: 65px;
}

.downloading-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  gap: 50px;
  top: 320px;

  background-color: black;
  padding: 8px 12px;
  border-radius: 8px;
  border: 1px solid grey;
}

.downloading-box-one {
  display: flex;
  gap: 10px;
  align-items: center;
}

.downloading-box img {
  height: 70px;
}

.downloading-details {
  color: white;
}

.movie-info {
  max-width: 600px;
  width: 90%;
}

/* UTILS ===============================================================================*/
/* UTILS ===============================================================================*/
/* UTILS ===============================================================================*/

.my-button {
    text-align: center;
    border: none;
    border-radius: 4px;
    padding: 8px;
    margin: 5px 0;
}

.desktop-hide {
  display: none;
}

.hand-hover {
  cursor: pointer;
}

.loading-message {
  font-size: 24px;
  font-weight: bolder;
}

.seperator {
  width: 100%;
  height: 6px;
  background-color: rgb(35, 35, 35);
  padding: 0;
  margin: 0;
}

.blue {
  color: blue;
}

.red {
  color: red;
}

.white {
  color: white;
}

.black {
  color: black;
}

.small {
  font-size: 14px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.relative {
  position: relative;
}

/* MOBILE ============================================================================== */
/* MOBILE ============================================================================== */
/* MOBILE ============================================================================== */

@media only screen and (max-width: 900px) {
  /* AUTH SCREEN */

  .title-auth {
    font-size: 32px;
    font-weight: bolder;
  }

  .auth-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 300px;
    width: 100%;
  }

  .get-started,
  .auth-input {
    width: 100%;
  }

  .get-started {
    display: flex;
    justify-content: center;
  }

  .auth-form {
    margin: 0;
  }

  .auth-input,
  .get-started {
    padding: 8px;
  }

  .auth-main {
    height: 90vh;
    max-width: 800px;
    margin: auto;
    padding-top: 40px;
  }

  .mobile-menu {
    padding: 10px;
    border: 1px solid grey;
    border-radius: 4px;
    margin: 5px 18px;
  }

  .section {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    min-height: 560px;
  }

  .section-image {
    max-width: 350px;
    position: relative;
    min-height: 250px !important;
  }

  .section-text {
    max-width: 350px;
    height: 200px !important;
  }

  .section-image {
    height: auto;
  }

  .tv-image {
    width: 500px;
    position: absolute;
    top: -10px;
  }

  .hero-vid {
    width: 300px;
    margin-left: 44px;
  }

  .device-pile-image {
    top: 5px;
  }

  .device-pile-vid {
    height: 130px;
  }

  .downloading-box {
    top: 160px;
  }

  .mobile img{
    max-height: 30px;
  }

  .logo{
    height: 30px;
  }

  .mobile-hide {
    display: none;
  }

  .desktop-hide {
    display: flex;
  }

  /* UTILS */

  .reverse-column {
    display: flex;
    flex-direction: column-reverse !important;
  }
}
