@tailwind base;
@tailwind components;
@tailwind utilities;




.hero-bg {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.1)), url("/hero.png");
}

.my-button {
    display: flex;
    background-color: wheat;
    border: 1px solid black;
    padding: 5px;
    margin: 10px;
}